body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.cover{
    position: absolute;
    width: 100%;
    margin-top: 80px;
}
.cover img{
    width: 80%;
    margin: 0 auto;
}
#land{
    background-color: deeppink;
}
#game{
    background-color: white;
    display: table;
    width: 100%;
    height: 100%;
    background-color:white;
}
.mid{
    display: table-cell;
    width: 100%;
    text-align: center;
}
.mid img{
    width: 80%;
}
.btn{
    width: 30%;
    height: 45px;
    border: 1px solid rgb(231, 76, 60);
    margin: 0 auto;
    border-radius: 6px;
    line-height: 1.8;
    font-size: 25px;
    color: rgb(231, 76, 60);
}

.xuanzhuan1{
    animation: xuanzhuan1 1s linear infinite;
    -webkit-animation: xuanzhuan1 1s linear infinite;	/* Safari 和 Chrome */
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
}
@keyframes xuanzhuan1{
    0% {transform: rotate(0); }

    100% {transform: rotate(360deg); }
}
@-webkit-keyframes xuanzhuan1{
    0% {-webkit-transform: rotate(0); }

    100% {-webkit-transform: rotate(360deg); }
}
.xuanzhuan2{
    animation: xuanzhuan2 1.5s linear infinite;
    -webkit-animation: xuanzhuan2 1.5s linear infinite;	/* Safari 和 Chrome */
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
}
@keyframes xuanzhuan2{
    0% {transform: rotate(0); }

    100% {transform: rotate(-360deg); }
}
@-webkit-keyframes xuanzhuan2{
    0% {-webkit-transform: rotate(0); }

    100% {-webkit-transform: rotate(-360deg); }
}
.paused{
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}
.running{
    animation-play-state:running;
    -webkit-animation-play-state:running; /* Safari 和 Chrome */
}
.btnActive{
    animation: btnActive 0.2s  ease-in   forwards ;
    -webkit-animation: btnActive 0.2s ease-in    forwards;	/* Safari 和 Chrome */
}
@keyframes btnActive
{
    0% {background-color: rgba(231, 76, 60,0);color: rgba(231, 76, 60,1)}

    100% {background-color: rgba(231, 76, 60,1);color: rgba(255,255,255,1)}
}
@-webkit-keyframes btnActive /* Safari 和 Chrome */
{
    0% {background-color: rgba(231, 76, 60,0);color: rgba(231, 76, 60,1)}

    100% {background-color: rgba(231, 76, 60,1);color: rgba(255,255,255,1)}
}