/*加载动画*/
.spinner {
    margin: 200px auto 100px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: white;
    height: 100%;
    width: 8px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}



/*封面闪烁 */
.shanshuo{
    animation: myfirst 2s  ease-in-out infinite alternate;
    -webkit-animation: myfirst 2s ease-in-out infinite alternate;	/* Safari 和 Chrome */
}
@keyframes myfirst
{
    0% {opacity:1;margin-top: 0}

    100% {opacity:0;margin-top: 20px}
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0% {opacity:1;margin-top: 0}

    100% {opacity:0;margin-top: 20px}
}


/*小云彩漂浮*/
.cloud{
    animation: cloud 2s  ease-in-out  infinite alternate;
    -webkit-animation: cloud 2s ease-in-out  infinite alternate;	/* Safari 和 Chrome */
}
@keyframes cloud{
    0% {margin-left: 0}
    100% {margin-left: 10px}
}
@-webkit-keyframes cloud{
    0% {margin-left: 0}
    100% {margin-left: 10px}
}



/*马里奥和标题的运动*/
 .ud{
     animation: ud 2s ease-in-out infinite alternate;
     -webkit-animation: ud 2s ease-in-out infinite alternate;
 }
 @keyframes ud{
     0% {margin-top: 0}
     100% {margin-top: 20px}
 }
 @-webkit-keyframes ud{
     0% {margin-top: 0}
     100% {margin-top: 20px}
 }

/*电视闪烁*/
.gs{
    animation: gs 2s  ease-in-out infinite  ;
    -webkit-animation: gs 2s ease-in-out infinite  ;	/* Safari 和 Chrome */
}
@keyframes gs
{
    0% {opacity:1; }
    49% {opacity:1; }
    50% {opacity:0; }
    100% {opacity:0; }
}
@-webkit-keyframes gs /* Safari 和 Chrome */
{
    0% {opacity:1; }
    49% {opacity:1; }
    50% {opacity:0; }
    100% {opacity:0; }
}
 /*暂时无用的摇摆动画*/
.mySwing{
    animation: mySwing 2s  ease-in-out infinite alternate;
    -webkit-animation: mySwing 2s ease-in-out infinite alternate ;	/* Safari 和 Chrome */
    -webkit-transform-origin:50% 100%;
    transform-origin:50% 100%;
}
@keyframes mySwing
{
    0% {transform: rotate(0);}

    100% {transform: rotate(6deg);}
}


@-webkit-keyframes mySwing /* Safari 和 Chrome */
{
    0% {-webkit-transform: rotate(0);}

    100% {-webkit-transform: rotate(6deg);}
}
