html {
    height: 100%;
}
body {
    margin: 0;

    position: relative;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.red-slide {
    background: #ca4040;
}
.blue-slide {
    background: #4390ee;
}
.orange-slide {
    background: #ff8604;
}
.green-slide {
    background: #49a430;
}
.pink-slide {
    background: #973e76;
}
.swiper-slide .title {
    font-style: italic;
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 45px;
}
.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}
/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}

.top{
    height: 90%;
    width: 100%;
}
#slide0{
    background-color: #b4eeec;
}

#slide2{
    background-color: #fbeec0;
    color: #000000;
    line-height: 1.5;
}



.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(img/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
.cover{
    width: 100%;
    position: absolute;
}

#cover1{
    z-index: 99;
}
#cover2{
    z-index: 100;
}
audio{
    display:none;
}
.arrow{
    margin-bottom: 0;
}
.arrow div{
    background-color:#ffffff;
    border: 0;
    text-align: center;
    margin-bottom: -2px;
}
.arrow3{
    width: 50px;
    height: 10px;
}
.arrow2{
    width: 30px;
    height: 10px;
}
.arrow1{
    width: 15px;
    height: 10px;
}
/*loading页面*/
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color:#78d5f3;
}
.loadingText{
    color:white;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.hide{
    visibility: hidden;
}
.music{
    position: fixed;
    z-index:998;
    right:0;
    top:0;

    padding:8px;
}
#music{
    fill:#fb7575;
    width:20px;
    height: 30px;
}
#slide1{
    color:black;
}

#top1{
    height: 40%;
}
.text{
    line-height: 2.5;
}
.picbox{
    width: 100%;

}
.picbox img{
    width: 100%;
}


@media only screen

and (max-height : 600px)
{
    img{
        width: 75%;
    }
}
@media only screen
and ( min-height: 600px )

{
    img{
        width: 100%;
    }
}