
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.load1{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: gray;
}
.loader{

}

.load1 .loader,
.load1 .loader:before,
.load1 .loader:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.load1 .loader:before,
.load1 .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.load1 .loader:before {
    left: -1.5em;
}
.load1 .loader {
    text-indent: -9999em;
    margin: 40% auto;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}
.load1 .loader:after {
    left: 1.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
.hide{
    visibility: hidden;
}
.bgi{
    /*background-image:;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fen{
    width: 96%;
    height: 1px;
    background: #000000;
    margin: 2%;
}
.fen-w{
    width: 96%;
    height: 1px;
    background: #FFFFFF;
    margin: 2%;
}
#mt>div{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}
#mt img{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45%;
}
#page2{
    text-align: center;
}
#page2 .pure-u-1-3 img{
    width: 75%;
}
#page2 .pure-u-2-3 img{
    width: 80%;
}
#page3 .pure-u-1-12 div{
    width: 60%;
    margin: 20px auto;
    margin-left: 0;
}
#page3 .pure-g>div{
    position: relative;
}
#page3 .pure-u-11-12 img{
    float: right;
}
.blur{
    background-color: rgba(0,0,0,0.5);
}
.fw{
    width: 100%;
    margin: 0;
    padding: 0;
}
.fwi{
    width: 100%;
}

.fhi{
    height: 100%;
}
.fp{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.ab{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
#page1{
    /*background-image: url(../assets/bgi/t.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background: white;
}
#page1 iframe{
    width: 100%;
    height: 100%;
}
#page1 .ab .btn{
    position: absolute;
    width: 15%;
    right: 15%;
    bottom: 10%;
}
#page1 .ab .btn img{
    width: 100%;
}
/* Underline From Left */
.hvr-underline-from-left {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #000;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
.hovering:before{
    right: 0;

}
#loadPage{



}
.fw{
    width: 100%;
    margin: 0;
    padding: 0;
}

.fhi{
    height: 100%;
}

#worldMap{
    width: 100%;
    margin: 0 auto;
    height: 600px;
}
.bar{
    width: 100%;
    height: 300px;
}
.top{
    width: 85%;
    margin: 0 auto;
}

.top  img{
    width: 100%;
}
#page5 .pure-g{
    text-align: center;
}
#page5 .pure-g img{
}
#page7 .pure-g{
    width: 85%;
    margin: 10px auto;
}
#page7 .pure-u-3-24{
    font-size: 40px;
    text-align: center;
}
#page8 img{
    width: 85%;
}
#page8 .fw{
    text-align: right;
}

#jiang{
    width: 100%;
}
#jiangBtn{
    margin-top: 40%;
}
#jiang img{
    width: 100%;
}
.tt>img{
    width: 30%;
}
.subtt>img{
    margin-top: 3%;
    width: 80%;
}
.midi{
    text-align: center;
}

.part1{
    background-color:white;
}
#page3 .pure-g{
    width: 80%;
    margin: 0 auto;
}
#hd{
    width: 100%;
    height: 600px;

}
.topB{
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    text-align: left;

}
.topB>img{
    width: 100%;
}
.part2{
    background-color:white;
}
body{
    background-color: #6A93B3;
}
#page5 .pure-g,#page9 .pure-g{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3%;
}
#page5 .pure-u-5-6>img{
    width: 100%;
}

.gear{
    margin-top: 25%;
    width: 80%;
    margin-left: 0;
    text-align: center;
}
.kbms{
    width: 100%;
}
.gearIcon{
    width: 50%;
}


.bihua{
    width: 80%;
    margin-left: 0;
    margin-top: 30%;
}
.gg{
    width: 100%;
}
#page7 .pure-g{
    width: 80%;
    margin: 0 auto;
}
#page9>.pure-g>div{
    margin-top: 3%;
}
.part1 .midi{
    background-color: #1E71A8;
}
.part2 .midi{
    margin-bottom: 3%;
    background-color: #D74047;
}
.part3 .midi{
    margin-bottom: 3%;

    background-color: #000000;
}
.part3{
    background-color: white;
}
.part4 .midi{

    background-color: #401D00;
}
.midi{
    padding-bottom: 2%;
}
.hf{
    width: 90%;
    margin: 0 auto;
}

.rolling{
    animation: rolling 6s linear infinite;
    -moz-animation: rolling 6s linear infinite;	/* Firefox */
    -webkit-animation: rolling 6s linear infinite;	/* Safari å’Œ Chrome */
}
@keyframes rolling{
    0% {
        transform:rotate(0);
    }
    100% {
        transform:rotate(360deg);
    }

}

@-webkit-keyframes rolling{
     0% {
         -webkit-transform:rotate(0);
     }
     100% {
         -webkit-transform:rotate(360deg);
     }

 }
@-moz-keyframes rolling{
    0% {
        -moz-transform:rotate(0);
    }
    100% {
        -moz-transform:rotate(360deg);
    }

}
#s0{
    margin-bottom: -0.5%;
}
#page6 .pure-g{
    width: 80%;
    margin: 0 auto;
}
.pure-u-21-24{
    color: #000000;
    min-height: 3%;
    margin: 0.8%;
    line-height: 1.4;
    font-family: "Microsoft YaHei","MicrosoftJhengHei","STHeiti","MingLiu","Hei"  ! important;
}
.ec{
    width: 90%;
}
.part2-2{
    background-color: #6A93B3;
}
.hhh{
    width: 70%;
    margin: 10%;
}